# Environment
.env
env/
/env
*.env
clinic/
/clinic

# Python cache
__pycache__/
/__pycache__/
*__pycache__*
*.pyc
*.pyo
*.pyd

# Flask instance folder
data/

# Database
*.db

# VS Code settings
.vscode/

./logs
/logs/
.*logs/