name: Build and Push Docker Image

# Trigger workflow on push to main branch
on:
  push:
    branches:
      - main

# Trigger workflow on changes to Dockerfile or application code
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4
    # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Build and push Docker image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: honeydoc/clinicbook-repo:latest

    # Trigger Render deployment   
      - name: Trigger Render Deploy
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
